# default
* @canonical/charmlibs-maintainers
/interfaces/ @canonical/charmlibs-maintainers

# codeowners
/CODEOWNERS @canonical/charmlibs-maintainers

# infra
/.github/ @canonical/charmlibs-maintainers
/docs.just @canonical/charmlibs-maintainers
/justfile @canonical/charmlibs-maintainers
/LICENSE @canonical/charmlibs-maintainers
/pyproject.toml @canonical/charmlibs-maintainers
/SECURITY.md @canonical/charmlibs-maintainers

# docs
/.docs/ @canonical/charmlibs-maintainers
/interfaces/README.md @canonical/charmlibs-maintainers
/README.md @canonical/charmlibs-maintainers

# namespace reservation
/.package/ @canonical/charmlibs-maintainers
/interfaces/.package/ @canonical/charmlibs-maintainers

# charmlibs packages (alphabetical)
/apt/ @canonical/charmlibs-maintainers
/nginx_k8s/ @canonical/tracing-and-profiling
/pathops/ @canonical/charmlibs-maintainers
/snap/ @canonical/charmlibs-maintainers

# charmlibs.interfaces packages (alphabetical)
/interfaces/tls_certificates/ @canonical/tls
