# default
* @canonical/charmlibs-maintainers
/interfaces/ @canonical/charmlibs-maintainers

# codeowners
/CODEOWNERS @canonical/charmlibs-maintainers

# infra
/.github/ @canonical/charmlibs-maintainers
/docs.just @canonical/charmlibs-maintainers
/justfile @canonical/charmlibs-maintainers
/LICENSE @canonical/charmlibs-maintainers
/pyproject.toml @canonical/charmlibs-maintainers
/SECURITY.md @canonical/charmlibs-maintainers

# docs
/.docs/ @canonical/charmlibs-maintainers
/interfaces/README.md @canonical/charmlibs-maintainers
/README.md @canonical/charmlibs-maintainers

# namespace reservation
/.package/ @canonical/charmlibs-maintainers
/interfaces/.package/ @canonical/charmlibs-maintainers

# charmlibs packages (alphabetical)
/apt/ @canonical/charmlibs-maintainers
/nginx_k8s/ @canonical/tracing-and-profiling
/passwd/ @canonical/charmlibs-maintainers
/pathops/ @canonical/charmlibs-maintainers
/snap/ @canonical/charmlibs-maintainers
/sysctl/ @canonical/charmlibs-maintainers
/systemd/ @canonical/charmlibs-maintainers

# charmlibs.interfaces packages (alphabetical)
/interfaces/azure_service_principal/ @canonical/data-platform
/interfaces/azure_storage/ @canonical/data-platform
/interfaces/certificate_transfer/ @canonical/tls
/interfaces/connect_client/ @canonical/data-platform-bigdata
/interfaces/cos_agent/ @canonical/observability
/interfaces/database_backup/ @canonical/data-platform
/interfaces/etcd_client/ @canonical/data-platform-nosql
/interfaces/filesystem_info/ @canonical/hpc-team
/interfaces/grafana_auth/ @canonical/observability
/interfaces/grafana_datasource/ @canonical/observability
/interfaces/grafana_datasource_exchange/ @canonical/observability
/interfaces/jwt/ @canonical/data-platform
/interfaces/kafka_client/ @canonical/data-platform-bigdata
/interfaces/karapace_client/ @canonical/data-platform-bigdata
/interfaces/litmus_auth/ @canonical/tracing-and-profiling
/interfaces/mimir_cluster/ @canonical/observability
/interfaces/mongodb_client/ @canonical/data-platform-nosql
/interfaces/mysql_client/ @canonical/data-platform-mysql
/interfaces/opensearch_client/ @canonical/data-platform-nosql
/interfaces/postgresql_client/ @canonical/data-platform-postgresql
/interfaces/profiling/ @canonical/tracing-and-profiling
/interfaces/prometheus_remote_write/ @canonical/observability-core
/interfaces/prometheus_scrape/ @canonical/observability-core
/interfaces/pyroscope_cluster/ @canonical/tracing-and-profiling
/interfaces/s3/ @canonical/data-platform
/interfaces/tempo_cluster/ @canonical/tracing-and-profiling
/interfaces/tls-certificates/ @canonical/tls
/interfaces/tracing/ @canonical/tracing-and-profiling
/interfaces/velero_backup_config/ @canonical/analytics
/interfaces/vault-autounseal/ @canonical/tls
/interfaces/vault-kv/ @canonical/tls

# interfaces/index.json doesn't require CODEOWNERS review as its contents are validated in CI
/interfaces/index.json
