# Environment
*env*/
_dev/venv/

# Sphinx
_dev/warnings.txt
_dev/.doctrees/
_dev/node_modules/

# Vale
_dev/styles/*
_dev/vale.ini

# Build outputs
_build

# Node.js
package*.json

# Unrelated cache and config files
.DS_Store
__pycache__
.idea/
.vscode/

# generated docs
charmlibs/
interfaces/
generated/

# generated per-library diataxis include files
_lib-*.md
.~lock.*
.save/
