name: CI
# runs linting for whole repository, and:
# on PR: runs tests for packages with changes (or all if global files are changed)
# on push to main or on dipatch: runs tests for all packages

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  fast-lint:
    uses: ./.github/workflows/fast-lint.yaml

  get-packages:
    runs-on: ubuntu-latest
    outputs:
      packages: ${{ steps.packages.outputs.packages }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Collect changed packages
        id: packages
        run: uv run --no-project --script .github/get-packages.py ${{ github.base_ref }}

  tests:
    needs: [fast-lint, get-packages]
    if: ${{ needs.get-packages.outputs.packages != '[]' }}
    strategy:
      fail-fast: false
      matrix:
        package: ${{ fromJson(needs.get-packages.outputs.packages) }}
    uses: ./.github/workflows/tests.yaml
    with:
      package: ${{ matrix.package }}

  tests-passed:
    needs: [tests]
    if: ${{ !cancelled() }}  # run even if tests are skipped or failed
    runs-on: ubuntu-latest
    steps:
      - if: ${{ needs.tests.result != 'success' && needs.tests.result != 'skipped' }}
        run: |
          echo '${{ toJSON(needs) }}'
          exit 1
