name: Tests
# runs tests for specified package
# always runs static tests
# runs unit, functional, and integration tests if the package implements them

on:
  workflow_call:
    inputs:
      package:
        required: true
        type: string
      skip-juju:
        required: false
        type: boolean
  workflow_dispatch:
    inputs:
      package:
        description: Package (by path) to run tests for.
        required: true
        type: string
      skip-juju:
        description: Skip Juju integration tests.
        required: false
        type: boolean

jobs:
  init:
    runs-on: ubuntu-latest
    outputs:
      tests: ${{ steps.tests.outputs.tests }}
      python: ${{ steps.python.outputs.versions }}
      functional-matrix: ${{ steps.functional.outputs.matrix }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Check which Python versions this package supports
        id: python
        run: uv run --no-project --script .github/get-supported-python-versions.py ${{ inputs.package }}

      - name: Check which test suites this package has
        id: tests
        run: |
          tests=()
          if [ -d ${{ inputs.package }}/tests/unit ]; then
            tests+=('unit')
          fi
          if [ -d ${{ inputs.package }}/tests/functional ]; then
            tests+=('functional')
          fi
          if [ -d ${{ inputs.package }}/tests/integration ]; then
            tests+=('integration')
          fi
          js=$(jq '$ARGS.positional' --null-input --compact-output --args "${tests[@]}")
          echo "tests=$js"
          echo "tests=$js" >> "$GITHUB_OUTPUT"

      - name: Check requirements for functional tests
        id: functional
        if: contains(fromJson(steps.tests.outputs.tests), 'functional')
        run: uv run --no-project --script .github/get-functional-test-matrix.py ${{ inputs.package }}

  lint:
    needs: init
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python: ${{ fromJson(needs.init.outputs.python) }}
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Run static analysis and other checks
        run: uvx --from rust-just just python=${{ matrix.python }} lint ${{ inputs.package }}

  unit:
    needs: init
    if: contains(fromJson(needs.init.outputs.tests), 'unit')
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python: ${{ fromJson(needs.init.outputs.python) }}
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Run unit tests
        run: uvx --from rust-just just python=${{ matrix.python }} unit ${{ inputs.package }}

  functional:
    needs: init
    if: contains(fromJson(needs.init.outputs.tests), 'functional')
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.init.outputs.functional-matrix) }}
    runs-on: ${{ matrix.ubuntu }}
    env:
      RECIPE_SUFFIX: ${{ matrix.pebble != 'no-pebble' && '-pebble' || '' }}
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'
          # To suppress the "Restore cache failed" error, since there is no go.sum file here.
          cache: false

      - name: Install Pebble
        if: matrix.pebble != 'no-pebble'
        run: go install github.com/canonical/pebble/cmd/${{ matrix.pebble }}

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Run functional tests
        if: matrix.sudo == 'no-sudo'
        run: uvx --from rust-just just python=${{ matrix.python }} functional$RECIPE_SUFFIX ${{ inputs.package }}

      - name: Run functional tests with sudo
        if: matrix.sudo != 'no-sudo'
        run: sudo env "PATH=$PATH" uvx --from rust-just just python=${{ matrix.python }} functional$RECIPE_SUFFIX ${{ inputs.package }}

  integration:
    needs: init
    if: contains(fromJson(needs.init.outputs.tests), 'integration') && !inputs.skip-juju
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        base: ['20.04', '24.04']
        substrate: ['k8s', 'vm']
    steps:
      - uses: actions/checkout@v4

      - name: Install concierge
        run: sudo snap install --classic concierge

      - name: Prepare Juju for microk8s
        if: ${{ matrix.substrate == 'k8s' }}
        run: sudo concierge prepare --verbose --juju-channel=3/stable --charmcraft-channel=3.x/stable -p microk8s

      - name: Prepare Juju for machine
        if: ${{ matrix.substrate == 'vm' }}
        run: sudo concierge prepare --verbose --juju-channel=3/stable --charmcraft-channel=3.x/stable -p machine

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Pack charms
        if: ${{ hashFiles('${{ inputs.package }}/tests/integration/pack.sh') != '' }}
        run: uvx --from rust-just just pack-${{ matrix.substrate }} ${{ inputs.package }} ${{ matrix.base }}

      - name: Run Juju integration tests
        run: uvx --from rust-just just integration-${{ matrix.substrate }} ${{ inputs.package }}
